\begin{table}[H]
\footnotesize
\centering
\begin{tabular}{lrrrrrr}
\toprule
\textbf{Package}  & \textbf{$A$} & \textbf{$I$} & \textbf{$D$} \\
\midrule
{% for row in rows %}
    {{ e(row.Package) }} & {{ row.A }} & {{ row.D }} & {{ row.I }} \\
{% endfor %}
\bottomrule
\end{tabular}
\caption{Abstractness $A$, Instability $I$ and Distance from the Main Sequence $D$ metrics for {{ caption }}.}
\label{table:{{ label }}}
\end{table}
